name: Build
permissions: read-all

on:
  push:
    branches:
      - 'main'

  pull_request:
    paths:
      - 'stack.yaml'
      - 'package.yaml'
      - 'ihaskell-symtegration.cabal'
      - '**.hs'
      - '.github/workflows/build.yaml'

jobs:
  cabal:
    strategy:
      matrix:
        os:
          - "ubuntu-latest"

        # Policy for compatible GHC versions is to:
        # * Test three most recent minor versions.
        # * Test lowest and highest minor versions of the current and previous major versions.
        # * Test highest minor version of major versions before the second last.
        # * Test current version used by https://github.com/IHaskell/IHaskell.
        ghc:
          - "9.6.4"
          - "9.6.6"
          - "9.8.4"

      fail-fast: false

    name: cabal / ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install packages
        run: |
          sudo apt update
          sudo apt install libmagic-dev libgmp-dev libblas-dev liblapack-dev libcairo2-dev libpango1.0-dev libzmq3-dev

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cabal
            ~/.ghcup
          key: cabal-${{ matrix.os }}-${{ matrix.ghc }}-${{ hashFiles('ihaskell-symtegration.cabal') }}
          restore-keys: cabal-${{ matrix.os }}-${{ matrix.ghc }}-

      - name: Setup Haskell
        uses: haskell-actions/setup@82e8b5066385702e477d9dc98f287070493e8abd # v2.8.2
        with:
          ghc-version: ${{ matrix.ghc }}

      - name: Build
        run: |
          cabal configure --ghc-options="-Wall -Werror"
          cabal build

      - name: Test
        run: cabal test
        timeout-minutes: 5

  stack:
    name: stack
    runs-on: ubuntu-24.04

    steps:
      - name: Install packages
        run: |
          sudo apt update
          sudo apt install libmagic-dev libgmp-dev libblas-dev liblapack-dev libcairo2-dev libpango1.0-dev libzmq3-dev

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.ghcup
            ~/.stack
          key: stack-${{ hashFiles('stack.yaml', 'package.yaml') }}
          restore-keys: stack-

      - name: Setup Haskell
        uses: haskell-actions/setup@82e8b5066385702e477d9dc98f287070493e8abd # v2.8.2
        with:
          enable-stack: true

      - name: Build
        run: stack build --pedantic --test --no-run-tests

      - name: Test
        run: stack build --pedantic --test
        timeout-minutes: 5
