name: Build
permissions: read-all

on:
  push:
    branches:
      - 'main'

  pull_request:
    paths:
      - 'stack.yaml'
      - 'package.yaml'
      - 'ihaskell-symtegration.cabal'
      - '**.hs'
      - '.github/workflows/build.yaml'

jobs:
  cabal:
    strategy:
      matrix:
        os:
          - "ubuntu-latest"

        # Policy for compatible GHC versions is to:
        # * Test three most recent minor versions.
        # * Test lowest and highest minor versions of the current and previous major versions.
        # * Test highest minor version of major versions before the second last.
        # * Test current version used by https://github.com/IHaskell/IHaskell.
        ghc:
          - "9.6.4"
          - "9.6.6"
          - "9.8.4"

      fail-fast: false

    name: cabal / ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install packages
        run: |
          sudo apt update
          sudo apt install libmagic-dev libgmp-dev libblas-dev liblapack-dev libcairo2-dev libpango1.0-dev libzmq3-dev

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Cache dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.cabal
            ~/.ghcup
          key: cabal-${{ matrix.os }}-${{ matrix.ghc }}-${{ hashFiles('ihaskell-symtegration.cabal') }}
          restore-keys: cabal-${{ matrix.os }}-${{ matrix.ghc }}-

      - name: Setup Haskell
        uses: haskell-actions/setup@f9150cb1d140e9a9271700670baa38991e6fa25c # v2.10.3
        with:
          ghc-version: ${{ matrix.ghc }}

      - name: Build
        run: |
          cabal configure --ghc-options="-Wall -Werror"
          cabal build

      - name: Test
        run: cabal test
        timeout-minutes: 5

  stack:
    name: stack
    runs-on: ubuntu-24.04

    steps:
      - name: Install packages
        run: |
          sudo apt update
          sudo apt install libmagic-dev libgmp-dev libblas-dev liblapack-dev libcairo2-dev libpango1.0-dev libzmq3-dev

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Cache dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.ghcup
            ~/.stack
          key: stack-${{ hashFiles('stack.yaml', 'package.yaml') }}
          restore-keys: stack-

      - name: Setup Haskell
        uses: haskell-actions/setup@f9150cb1d140e9a9271700670baa38991e6fa25c # v2.10.3
        with:
          enable-stack: true

      - name: Build
        run: stack build --pedantic --test --no-run-tests

      - name: Test
        run: stack build --pedantic --test
        timeout-minutes: 5
